[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "gentoo-zsh-completions"]
	path = completions/gentoo-zsh-completions
	url = https://github.com/radhermit/gentoo-zsh-completions.git
[submodule "completions/docker-zsh-completion"]
	path = completions/docker-zsh-completion
	url = https://github.com/felixr/docker-zsh-completion.git
[submodule "completions/zsh-completions"]
	path = completions/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
